.imageWrapper {
  position: relative;
  height: 80vh;
  width: auto;
}

.imageWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main--h1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
