.header {
  padding-top: 2rem;
  margin-bottom: 3rem;
  align-items: center;
}

.header nav,
.header ul {
  display: flex;
}

.header nav {
  text-transform: uppercase;
  font-weight: bold;
}

.header li {
  display: inline-block;
}

.header li,
.header .input-div {
  margin-left: 2.5em;
}

.header .input-div {
  display: flex;
  height: 2.5rem;
  width: 40%;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 500;
}

.input-div input {
  width: 100%;
  color: #142d61 !important;
}

.header input:focus {
  color: #25313c;
}

.flexbox {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ee1b3f;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  fill: white;
  background-color: transparent;
  border: none;
  padding-top: 0.2em;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }
}


@media (max-width: 768px) {

  .header nav {
    display: none;
  }

  .header nav.show {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .header .input-div {
    margin-left: 0;
    width: 50%;
  }

  .header ul {
    flex-direction: column;
  }

  .header li {
    line-height: 300%;
    margin-left: 0px;
  }

  .header nav {
    position: absolute;
    background-color: #1d418b;
    padding: 1rem 2rem;
    top: 100%;
    right: calc(0% - 30px);
  }
}

@media (max-width: 425px) {
  .header nav {
    right: calc(0% - 20px);
  }
}

@media (max-width: 320px) {
  .header nav {
    right: calc(0% - 15px);
  }
}
