.header {
  padding-top: 2rem;
  margin-bottom: 3rem;
  align-items: center;
}

.headerUl {
  display: flex;
}

.headerNavUl {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
}

.headerNavLi {
  display: inline-block;
}

.headerNavLi,
.inputForm {
  margin-left: 2.5em;
}

.form {
  display: flex;
  height: 2.5rem;
  width: 40%;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 500;
}

.formInput {
  width: 100%;
}

.formInput:focus {
  color: #25313c;
}

.flexbox {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--logo-red);
  font-family: "Titillium Web", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  fill: white;
  background-color: transparent;
  border: none;
  padding-top: 0.2em;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }
}


@media (max-width: 768px) {

  .headerNav {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    top: 100%;
    right: calc(0% - 30px);
    z-index: 2;
  }

  .headerNav.show {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .form {
    margin-left: 0;
    width: 50%;
  }

  .headerNavUl {
    flex-direction: column;
  }

  .headerNavLi {
    line-height: 300%;
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  .headerNav {
    right: calc(0% - 20px);
  }
}

@media (max-width: 320px) {
  .headerNav {
    right: calc(0% - 15px);
  }
}
