.basicDataCard {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 200%;
}

.basicDataCardTable {
  border-collapse: collapse;
}

.basicDataCard th {
  text-align: left;
  padding-right: 2em;
}

.basicDataCard tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.basicData {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  flex-grow: 1;
}

.headers {
  padding-bottom: 1.5em;
}

@media (max-width: 650px) {
  .basicDataCard {
    flex-direction: column;
  }

  .basicData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
  }

  .headers {
    padding-bottom: 1em;
  }
}
