.seasonAverages {
  display: flex;
  font-size: 1.15rem;
}

.seasonAverages table {
  border-collapse: collapse;
  flex-grow: 1;
  margin-right: 1em;
}

.seasonAverages tr {
  display: flex;
  justify-content: space-between;
  line-height: 175%;
  border-bottom: 1px solid white;
}

.seasonAverages th {
  text-align: left;
}

@media(max-width: 768px) {
  .seasonAverages {
    flex-direction: column;
  }

  .seasonAverages table {
    margin: 0;
  }

  .seasonAverages tr {
    display: flex;
    justify-content: space-between;
  }
}