.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th {
  text-align: left;
  line-height: 250%;
}

.dataTable tr {
  border-bottom: 1px solid white;
  line-height: 220%;
}

@media (max-width: 768px) {
  .dataTable {
    font-size: 0.75rem;
  }
}
