.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  text-align: left;
  line-height: 250%;
}

.data-table tr {
  border-bottom: 1px solid white;
  line-height: 220%;
}

@media (max-width: 768px) {
  .data-table {
    font-size: 0.75rem;
  }
}
